@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";



.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.active{
  background-color: #ffebf5;
  border-color: rgb(135, 33, 135);
}

