.react-calendar__tile {
    background-color: white !important;
  }

  .react-calendar__tile--active {
    background-color: transparent !important;
    color: inherit !important;
    font-weight: normal !important;
    box-shadow: none !important;
  }

.present-day {
    background-color: #86efac !important; /* green-300 */
    border-radius: 50%;
    color: black !important;
  }
  .absent-day {
    background-color: #fca5a5 !important; /* red-300 */
    border-radius: 50%;
    color: black !important;
  }
  .cl-day {
    background-color: #93c5fd !important; /* blue-300 */
    border-radius: 50%;
    color: black !important;
  }
  .holiday-day {
    background-color: #fde68a !important; /* yellow-300 */
    border-radius: 50%;
    color: black !important;
  }
  .react-calendar__month-view__days__day--weekend {
    color: inherit !important;       /* reset red color */
    background: transparent !important;  /* remove red background */
  }
  
  